<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <!--<Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>-->
            <Pattern>[%d{ISO8601}{GMT}] %level %t %c %M: %m%throwable%n</Pattern>
        </layout>
    </appender>

    <root level="debug">
        <appender-ref ref="STDOUT"/>
    </root>
      
    <!--<logger name="com.rethinkdb" level="INFO"/>-->
    <logger name="org.eclipse.jetty" level="INFO"/>
    <logger name="com.codescore.external" level="INFO"/>
</configuration>